# Tuples

In [1]:
# it supports only creation and reading of tuple and its element

a=("ABC",2,3,"DEF",99)
print(a)

('ABC', 2, 3, 'DEF', 99)

In [2]:
print("Printing type of a :- \n",type(a))

Printing type of a :-
 <class 'tuple'>

In [3]:
print("Printing length of a :- \n",len(a))

Printing length of a :-
 5

In [4]:
print("Printing index at 1 of a :- \n",a[1])

Printing index at 1 of a :-
 2

In [5]:
print("Printing index at -1 of a :- \n",a[-1])

Printing index at -1 of a :-
 99

In [6]:
print("Printing Slicing from 2 to 4 of a :- \n",a[2:4])

Printing Slicing from 2 to 4 of a :-
 (3, 'DEF')

In [7]:
print("Printing Slicing from -4 to -2 of a :- \n",a[-4:-2])

Printing Slicing from -4 to -2 of a :-
 (2, 3)

In [8]:
b=a[3]

In [9]:
print("Storing value into a variable and then printing it \n",b)

Storing value into a variable and then printing it
 DEF

In [10]:
c=(99,25,18,28,35,650,1000,456,7,89,35)
print("Max of new tuple c\n",max(c))
print("Max of new tuple c\n",min(c))

Max of new tuple c
 1000
Max of new tuple c
 7

In [11]:
a=("ABC",2,3,"DEF",99)
for i in a:
     print(i)

ABC
2
3
DEF
99

In [12]:
for i in range(len(a)):
    print(i,a[i])

0 ABC
1 2
2 3
3 DEF
4 99

In [13]:
for i,x in enumerate(a):
    print(i,x)

0 ABC
1 2
2 3
3 DEF
4 99

# Sets

In [14]:
a={1,2,3,4}
print(type(a))
print(len(a))

<class 'set'>
4

In [15]:
b=set()
print(type(b))

<class 'set'>

In [16]:
c=set((1,2,3))
print(c)

{1, 2, 3}

In [17]:
d=set([1,2,3])
print(d)

{1, 2, 3}

# List

In [18]:
a=[1,2,3,"ABC"]
print(type(a))
print(a)
print(len(a))

<class 'list'>
[1, 2, 3, 'ABC']
4

In [19]:
print(a[0])
print(a[-1])
print(a[0:2])
print(a[-3:-1])

1
ABC
[1, 2]
[2, 3]

In [20]:
for i in range(len(a)):
    print(i,".",a[i])

0 . 1
1 . 2
2 . 3
3 . ABC

In [21]:
a[2]=5
print(a)

[1, 2, 5, 'ABC']

In [22]:
a[1]=10
print(a)

[1, 10, 5, 'ABC']

In [23]:
a=[1,2,3,"ABC","DEF"]
print(a)
print(len(a))

[1, 2, 3, 'ABC', 'DEF']
5

In [24]:
a.append(10)
print(a)
print(len(a))

[1, 2, 3, 'ABC', 'DEF', 10]
6

In [25]:
a.append(["ABC",5]) # for appending multiple value we must mention it in a list
print(a)
print(len(a))

[1, 2, 3, 'ABC', 'DEF', 10, ['ABC', 5]]
7

In [26]:
a.extend("ABC") # will treat each alphabet individually0
a.extend(["XYZ","PQR"])
print(a)
print(len(a))

[1, 2, 3, 'ABC', 'DEF', 10, ['ABC', 5], 'A', 'B', 'C', 'XYZ', 'PQR']
12

In [27]:
a.insert(2,"AAA")
print(a)
print(len(a))

[1, 2, 'AAA', 3, 'ABC', 'DEF', 10, ['ABC', 5], 'A', 'B', 'C', 'XYZ', 'PQR']
13

In [28]:
a=["ABC",1,2,"DEF","abc"]

b=a.pop() # On index only
print("after popping with no parameters",a)
#["ABC",1,2,"DEF"]

after popping with no parameters ['ABC', 1, 2, 'DEF']

In [29]:
c=a.pop(0) # On index only
print("after popping with parameter",a)
#[1,2,"DEF"]

after popping with parameter [1, 2, 'DEF']

In [30]:
d=a.remove(2) # On string only
print("After removing by passing index",a)
#[1,"DEF"]

After removing by passing index [1, 'DEF']

In [31]:
del a[1] # On index only
print("After deleting",a)
#[1]

After deleting [1]

In [32]:
a=[1,2,3,0,-1,-5,0,2,57,7,0,8,7,25]
print(len(a))

14

In [33]:
print(min(a))

-5

In [34]:
print(max(a))

57

In [35]:
reverse=a[::-1]
print(reverse)

[25, 7, 8, 0, 7, 57, 2, 0, -5, -1, 0, 3, 2, 1]

In [36]:
sort=sorted(a)
print(sort)

[-5, -1, 0, 0, 0, 1, 2, 2, 3, 7, 7, 8, 25, 57]

In [37]:
x=a.count(0)
print(x)

3

# Dictionary

In [38]:
a={1:'ABC','A':"DEF",(1,2,3):[1,2,3],2:"XYZ"}
print(a)
print(type(a))
print(len(a))

{1: 'ABC', 'A': 'DEF', (1, 2, 3): [1, 2, 3], 2: 'XYZ'}
<class 'dict'>
4

In [39]:
a={1:"a",2:"b",3:"c",4:"d",5:"e",6:"f"}
print(a)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

In [40]:
# By assigning method similiar to update
a[7]="g"
print(a)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}

In [41]:
a.update({8:"h",9:"i",10:"j"})
print(a)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g', 8: 'h', 9: 'i', 10: 'j'}

In [42]:
a={1:"ABC",2:"DEF",3:"GHI",4:"JKL"}
print(a[1])
print(a[4])

ABC
JKL

In [43]:
# list of dictionary
a=[{1:"ABC",2: "DEF",3: "GHI"},{4 :"JKL",5:"MNO",6:"PQR"}]
print(len(a))
print(a[1][4])

2
JKL

In [44]:
a={1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}
del a[2] 
print(a)

{1: 'a', 3: 'c', 4: 'd', 5: 'e', 6: 'f'}

In [45]:
#by pop method 
# it is necessary to write key value 
a.pop(3)
print(a)

{1: 'a', 4: 'd', 5: 'e', 6: 'f'}

In [46]:
# popitem deletes the last item
# And no argument is required in it..
a.popitem()
print(a)

{1: 'a', 4: 'd', 5: 'e'}

In [47]:
keys=list(a.keys())
values=list(a.values())

In [48]:
print(keys)

[1, 4, 5]

In [49]:
print(values)

['a', 'd', 'e']

# Numpy

In [50]:
import numpy as np
print(np.__version__)

1.19.2

In [51]:
import numpy as np
a=np.array([1,2,3])
print(a[1])
print(a[2:])

2
[3]

In [52]:
# dot product
import numpy as np
a=np.array([1,2,3])
b=np.array([1,2,3])
c=np.dot(a,b)
print(c)

14

In [53]:
import numpy as np
#  adding 2 arrays
l1=np.array([1,2,3,4,5])
l2=np.array([1,2,3,4,5])
lout=l1+l2
print(lout)

[ 2  4  6  8 10]

In [54]:
# division of numpy array 
import numpy as np
a=np.array([1,2,3,4,5,6])
a=a/10  # Used only for array 
print(a)

[0.1 0.2 0.3 0.4 0.5 0.6]

In [55]:
# Multiplication in array.
import numpy as np
a=np.array([1,2,3,4,5,6])
a=a*5  # Used only for array 
print(a)

[ 5 10 15 20 25 30]

In [56]:
# numpy with strings
a=np.array(["hello","world"])
print(a)
print(type(a))
print(a.size)
print(a.ndim)
print(a.shape)
print(a.itemsize)

['hello' 'world']
<class 'numpy.ndarray'>
2
1
(2,)
20

In [57]:
# numpy with float
import numpy as np
a=np.array([1.1,2.5,36.5,100.1])
print(a)
print(type(a))
print(a.size)
print(a.ndim)
print(a.shape)
print(a.itemsize)

[  1.1   2.5  36.5 100.1]
<class 'numpy.ndarray'>
4
1
(4,)
8

In [58]:
# numpy with int
import numpy as np

a=np.array([1,2,3,4,5])
print (a)
print(len(a))   # For length
print(type(a)) # For Type

print(a.size) # For size
print(a.ndim) #For dimensions
print(a.dtype) # For displaying data Types
print(a.shape) # For Displaying Shape in the form of Rows and colummns(Rows,Col)
print(a.itemsize) # for displaying the size of single element in the array

[1 2 3 4 5]
5
<class 'numpy.ndarray'>
5
1
int32
(5,)
4

In [59]:
# creating zeros array
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [60]:
# creating ones array
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [61]:
# creating 2d array
import numpy as np
a = np.array([[1,2,3],[4,5,6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [62]:
print(a.shape)

(2, 3)

In [63]:
print(a.ndim)

2

In [64]:
#  creating 3-d array
import numpy as np
a = np.array([[[1, 2, 3], [4, 5, 6]], [[7,8,9], [10,11,12]]])
print(a)

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]

In [65]:
print(a.shape)

(2, 2, 3)

In [66]:
print(a.ndim)

3

In [67]:
import numpy as np
a = np.array([28,99,1256,156,564,45,8723,12,564,86,123,21])
print(a)

[  28   99 1256  156  564   45 8723   12  564   86  123   21]

In [68]:
a= a.reshape(4, 3)
print(a)

[[  28   99 1256]
 [ 156  564   45]
 [8723   12  564]
 [  86  123   21]]

In [69]:
import numpy as np
a = np.array([28,99,1256,156,564,45,8723,12,564,86,123,21])
print(a)

[  28   99 1256  156  564   45 8723   12  564   86  123   21]

In [70]:
a = a.reshape(2, 3, 2)
print(a)

[[[  28   99]
  [1256  156]
  [ 564   45]]

 [[8723   12]
  [ 564   86]
  [ 123   21]]]

In [71]:
import numpy as np
a = np.array([[1, 2, 3], [4, 5, 6]])
print(a)

[[1 2 3]
 [4 5 6]]

In [72]:
a = a.reshape(-1)
print(a)

[1 2 3 4 5 6]

In [73]:
# concatenating 2 arrays
import numpy as np
a1 = np.array([1, 2, 3])
a2 = np.array([4, 5, 6])
a3 = np.concatenate((a1, a2))
print(a3)

[1 2 3 4 5 6]

In [74]:
# stacking 2 arrays
import numpy as np
a1 = np.array([1, 2, 3])
a2 = np.array([4, 5, 6])
a3 = np.stack((a1, a2),axis=1)
print(a3)

[[1 4]
 [2 5]
 [3 6]]

In [75]:
# transpose
print(a3.transpose())

[[1 2 3]
 [4 5 6]]

# Pandas

In [76]:
import numpy as np
import pandas as pd
a=np.array([1,2,3,4,5])
a=pd.Series(a)
print(a)
print(type(a))

0    1
1    2
2    3
3    4
4    5
dtype: int32
<class 'pandas.core.series.Series'>

In [77]:
# creating a series
a=np.array(["Hello","world","1",2,3])
a=pd.Series(a)
print(a)
print(type(a))

0    Hello
1    world
2        1
3        2
4        3
dtype: object
<class 'pandas.core.series.Series'>

In [78]:
# change of index
import numpy as np
import pandas as pd
a=np.array(["Hello","world","1",2,3])
a=pd.Series(a,index=[101,102,103,104,105])
print(a)
print(type(a))

101    Hello
102    world
103        1
104        2
105        3
dtype: object
<class 'pandas.core.series.Series'>

In [79]:
import numpy as np
import pandas as pd
newlis=[]
for i in range(len(a)):
    newlis.append(i+100)
print(newlis)
print(pd.Series(["Hello","world",1,2,3],index=newlis))

[100, 101, 102, 103, 104]
100    Hello
101    world
102        1
103        2
104        3
dtype: object

In [80]:
# printing dictionary using pandas series
import pandas as pd
print(pd.Series({"A":100,"B":200}))

A    100
B    200
dtype: int64

In [81]:
# using same values but multiple index
print(pd.Series(10,index=[1,2,3,4]))

1    10
2    10
3    10
4    10
dtype: int64

In [82]:
# Creating a dataframe
import pandas as pd
lis=[1,2,3,4,5,6,7]
a=pd.DataFrame(lis)
print(a)
print(type(a))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
<class 'pandas.core.frame.DataFrame'>

In [83]:
import pandas as pd
a=[["Per1",101],
   ["Per2",102],
   ["Per3",103]]
b=pd.DataFrame(a,columns=["Name","Number"],index=[1,2,3])
print(b)

   Name  Number
1  Per1     101
2  Per2     102
3  Per3     103

In [84]:
# using list to create a dataframe
import pandas as pd
a={"Name":["N1","N2","N3"],
   "Number":[101,102,103]}
b=pd.DataFrame(a,index=[1,2,3])
print(b)

  Name  Number
1   N1     101
2   N2     102
3   N3     103

In [85]:
# using dictionary to create a dataframe
import pandas as pd
a=[{"Name":"Per1","Age":50},
   {"Name":"Per2","Age":10},
   {"Name":"Per3","Age":40}]
print(pd.DataFrame(a,index=[1,2,3]))

   Name  Age
1  Per1   50
2  Per2   10
3  Per3   40

In [86]:
# using series to create a dataframe
import pandas as pd
a={'Name':pd.Series([1,2,3,4,5]),
"ID":pd.Series([101,203,405,110,36])}
print(pd.DataFrame(a))

   Name   ID
0     1  101
1     2  203
2     3  405
3     4  110
4     5   36

In [87]:
# storing dataframe into file
import pandas as pd
a=[{"Name":"Per1","Age":50},
   {"Name":"Per2","Age":10},
   {"Name":"Per3","Age":40}]
df=pd.DataFrame(a,index=[1,2,3])
df.to_csv("data.csv",index=False)
df.to_json("data.json")

In [88]:
# reading a file
import pandas as pd
data=pd.read_csv("data.csv")
print(pd.DataFrame(data))

   Name  Age
0  Per1   50
1  Per2   10
2  Per3   40

In [89]:
# using iloc
print(data.iloc[2,1])
print(data.iloc[1,0])

40
Per2

In [90]:
a=data.loc[(data["Name"]=='Per1')| (data["Age"]==10)]
print(a)

   Name  Age
0  Per1   50
1  Per2   10

In [91]:
a=data.loc[(data["Name"]=='Per1') & (data["Age"]==10)]
print(a)

Empty DataFrame
Columns: [Name, Age]
Index: []

In [92]:
a=data.loc[(data["Name"]=='Per1') & (data["Age"]==50)]
print(a)

   Name  Age
0  Per1   50

In [93]:
a=a.rename(columns={"Name":"Names of People","Age":"Age of people"})
print(a)

  Names of People  Age of people
0            Per1             50

In [94]:
import pandas as pd
a=pd.DataFrame([[101,201],[301,401]],index=[1,2],columns=[1,2])
b=pd.DataFrame([[11,21],[12,22],[13,23]],index=[2,3,4],columns=[1,2])
c=a.append(b)
print(c)

     1    2
1  101  201
2  301  401
2   11   21
3   12   22
4   13   23

In [95]:
d=pd.concat([a,b],axis=1) # by-default axis is 0
print(d)

       1      2     1     2
1  101.0  201.0   NaN   NaN
2  301.0  401.0  11.0  21.0
3    NaN    NaN  12.0  22.0
4    NaN    NaN  13.0  23.0

In [96]:
d=pd.concat([a.reset_index(drop=True),b])
print(d)

     1    2
0  101  201
1  301  401
2   11   21
3   12   22
4   13   23

In [97]:
import pandas as pd
import numpy as np

df1=pd.DataFrame({"A":range(1,6),
                  "B":["Gujarat","Maharastra","UP","Rajasthan","MP"],
                  "c":np.random.randint(0,25,size=5)}) # Here size refers to no of quantity 
df1

   A           B   c
0  1     Gujarat   3
1  2  Maharastra  14
2  3          UP  12
3  4   Rajasthan   0
4  5          MP  18

In [98]:
df2=pd.DataFrame([[2,"Medium"],[4,"Low"],[5,"High"]],columns=["A","Product"])
df2

   A Product
0  2  Medium
1  4     Low
2  5    High

In [99]:
# Joins
print("This acts like a join")
df=(df1.merge(df2,on="A",how="left"))
df

This acts like a join

   A           B   c Product
0  1     Gujarat   3     NaN
1  2  Maharastra  14  Medium
2  3          UP  12     NaN
3  4   Rajasthan   0     Low
4  5          MP  18    High

In [100]:
df=(df1.merge(df2,on="A",how="right"))
df

   A           B   c Product
0  2  Maharastra  14  Medium
1  4   Rajasthan   0     Low
2  5          MP  18    High

In [101]:
df=df2.merge(df1,on="A",how="left")
df

   A Product           B   c
0  2  Medium  Maharastra  14
1  4     Low   Rajasthan   0
2  5    High          MP  18

In [102]:
import numpy as np
import pandas as pd
df1=pd.DataFrame({"col1":[2,4,6,8],
     "col2":[11,13,15,17]},index=[101,102,103,104])
df2=pd.DataFrame({"col3":[22,24,26,28],
                  "col4":[31,33,35,37]},index=[101,103,104,105])
df=df1.join(df2)
df

     col1  col2  col3  col4
101     2    11  22.0  31.0
102     4    13   NaN   NaN
103     6    15  24.0  33.0
104     8    17  26.0  35.0

In [103]:
df=df2.join(df1)
df

     col3  col4  col1  col2
101    22    31   2.0  11.0
103    24    33   6.0  15.0
104    26    35   8.0  17.0
105    28    37   NaN   NaN