In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('GroceryStoreDataSet.xlsx',sheet_name='GroceryStoreDataSet',names=['products'],header=None)

In [3]:
df.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [4]:
# df.columns

In [5]:
# df.values

In [6]:
data = list(df["products"].apply(lambda x:x.split(',')))

In [7]:
from mlxtend.preprocessing import TransactionEncoder

In [8]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data,columns=te.columns_)
df.head()

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True

In [9]:
from mlxtend.frequent_patterns import apriori

In [10]:
df1 = apriori(df,min_support=0.01,use_colnames=True)
df1.head()

   support     itemsets
0     0.35    (BISCUIT)
1     0.20  (BOURNVITA)
2     0.65      (BREAD)
3     0.15       (COCK)
4     0.40     (COFFEE)

In [11]:
df1.sort_values(by="support",ascending=False).head()

    support      itemsets
2      0.65       (BREAD)
4      0.40      (COFFEE)
0      0.35     (BISCUIT)
10     0.35         (TEA)
5      0.30  (CORNFLAKES)

In [12]:
df1['length'] = df1['itemsets'].apply(lambda x:len(x))
df1.head()

   support     itemsets  length
0     0.35    (BISCUIT)       1
1     0.20  (BOURNVITA)       1
2     0.65      (BREAD)       1
3     0.15       (COCK)       1
4     0.40     (COFFEE)       1

In [13]:
stored = df1[(df1['length']==4) & (df1['support']>=0.05)]

In [14]:
stored

    support                             itemsets  length
77     0.05   (MILK, BISCUIT, BREAD, CORNFLAKES)       4
78     0.05         (TEA, BISCUIT, BREAD, MAGGI)       4
79     0.10  (COFFEE, BISCUIT, CORNFLAKES, COCK)       4
80     0.05            (JAM, MILK, MAGGI, BREAD)       4
81     0.05             (JAM, TEA, MAGGI, BREAD)       4
82     0.05      (MILK, TEA, COFFEE, CORNFLAKES)       4

In [15]:
maximum_support=max(stored['support'])
print(maximum_support)

0.1

In [16]:
df1[(df1['length']==4) & (df1['support']==maximum_support)]

    support                             itemsets  length
79      0.1  (COFFEE, BISCUIT, CORNFLAKES, COCK)       4